<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CWIN Dashboard (BETA)</title>
        <meta name="description" content="CWIN DATA">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="app.css">
        <link rel="stylesheet" href="node_modules/angular-hotkeys/build/hotkeys.min.css">
        <link href="bootstrap-side-navbar.css" rel="stylesheet" />

        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <body ng-app="myApp">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="container-fluid" ng-controller="MainCtrl">
        <div class="row">
            <div class="col-xs-2">
              <nav class="navbar navbar-default navbar-fixed-side" style="position:fixed">
                <div class="container">
                  <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./">. CWIN Dash Nav</a>
                  </div>
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li class="active">
                        <a href="#instructions">Instructions</a>
                      </li>
                      <li class="">
                        <a href="#helplineservices">Helpline Services</a>
                      </li>
                      <li class="">
                        <a href="#3majorhelpline">3 Major Helpline Services</a>
                      </li>
                      <li class="">
                        <a href="#counseling">Counseling</a>
                      </li>
                  </div>
                </div>
              </nav>
            </div>
            <div class="col-xs-10">
            <div class="header">
                <h3 class="text-muted">CWIN Dashboard</h3>
            </div>

            <a name="instructions"></a>
            <div class="panel panel-default">
                <div class="panel-heading">Instructions</div>
                <div class="panel-body">
                    <p>This is a dashboard to visualize the data collected through the Kobo Toolbox forms that CWIN collects. This should provide the public and enforcement bodies insight into trafficking and human exploitation. <strong>Press '?' to view the keyboard shortcuts.</strong></p>

                    <p>The following are the analyses provided</p>
                    <ol>
                        <li>General Information</li>
                        <li>Parental Information</li>
                        <li>Problem Scanning</li>
                        <li>Helpline Actions</li>
                        <li>Follow Up</li>
                    </ol>
                </div>
            </div>

            <a name="helplineservices"></a>
            <div class="panel panel-default">                
                <div class="panel-heading">Helpline Servicesx</div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" chart-data="data1" chart-labels="labels1" chart-series="series1" chart-options="options1" chart-dataset-override="datasetOverride1"> </canvas>
                </div>
            </div>

            <a name="3majorhelpline"></a>
            <div class="panel panel-default">
                <div class="panel-heading">3 Major Helpline Services</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="data2" chart-labels="labels2" chart-series="series2" chart-options="options2" chart-dataset-override="datasetOverride2"> </canvas>
                </div>
            </div>

            <a name="counseling"></a>
            <div class="panel panel-info">
                <div class="panel-heading">Counseling</div>
                <div class="panel-body">
                    <canvas id="line2" class="chart chart-bar" chart-data="ageData" chart-labels="ageLabels" chart-series="ageSeries" chart-options="ageOptions"> </canvas>
                    <br>
                    <br>
                    <div class="row well">
                        <div class="col-xs-6">
                            <canvas id="doughtnut" class="chart chart-doughnut" chart-data="counselingData" chart-labels="counselingLabels" chart-options="counselingOptions"> </canvas>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel panel-warning">
                                <div class="panel-heading">Look at this data!</div>
                                <div class="panel-body">
                                    Commentary
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Search</span>
                      <input type="text" ng-model="searchText" class="form-control" placeholder="...">
                    </div><br>

                    <table id="#generalinformation" class="table table-hover table-condensed table-striped">
                        <tr>
                            <th>Registration $</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Main Issue</th>
                        </tr>
                        <tr ng-repeat="row in cModel | filter:searchText">
                            <td>{{row["group_zu9nn95/_2_Registration_Number"]}}</td>
                            <td>{{row["group_zu9nn95/_5_full_name_of_child"]}}</td>
                            <td>{{row["group_zu9nn95/_7_age"]}}</td>
                            <td>{{mapping[row["group_zu9nn95/_8_gender"]]}}</td>
                            <td>{{mapping[row["group_sy7hf84/_24_Main_problem_of_the_Child"]]}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        </div>
                  




        </div> <!-- /container -->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="jquery-1.10.2.min.js"><\/script>')</script>

        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
        <script src="node_modules/underscore/underscore-min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script src="modernizr-2.6.2.min.js"></script>
        <script src="node_modules/chart.js/dist/chart.js"></script>
        <script src="data_model.js"></script>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
        <script src="node_modules/angular-hotkeys/build/hotkeys.min.js"></script>
        <script src="app.js"></script>
        
    </body>
</html>
