h2 {
  font-family: "Futura", "Century Gothic", "AppleGothic", sans-serif;
}
.top-buffer { margin-top:20px; }
.input-square {
  width: 50px;
  height: 50px;
  margin: 5px 5px 5px 5px;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}